#headerOne {
    position: absolute;
    left: 20%;
    top: 10%;
}

#headerTwo {
    position: absolute;
    right: 20%;
    top: 10%;
}

#teamAYellow{
    position: absolute;
    left: 11%;
    top: 50%;
}

#teamARed{
    position: absolute;
    left: 33%;
    top: 50%;
}

#teamBYellow{
    position: absolute;
    right: 33%;
    top: 50%;
}

#teamBRed{
    position: absolute;
    right: 11%;
    top: 50%;
}

#addGoalForm {
    position: absolute;
    left: 30%;
    top: 80%; 
}

#addCardForm {
    position: absolute;
    right: 30%;
    top: 80%; 
}

#addGoalForm {
    display: none;
}

#addCardForm {
    display: none;
}