#headerOne {
    position: absolute;
    left: 20%;
    top: 10%;
}

#headerTwo {
    position: absolute;
    right: 20%;
    top: 10%;
}

#teamAYellow{
    position: absolute;
    left: 11%;
    top: 50%;
}

#teamARed{
    position: absolute;
    left: 33%;
    top: 50%;
}

#teamBYellow{
    position: absolute;
    right: 33%;
    top: 50%;
}

#teamBRed{
    position: absolute;
    right: 11%;
    top: 50%;
}

#addGoalButton {
    position: absolute;
    left: 30%;
    top: 80%; 
}

#addCardButton {
    position: absolute;
    right: 30%;
    top: 80%; 
}

#addGoalForm {
    display: none;
    position: absolute;
    text-align: center;
    left: 17%;
    top: 65%;
    border: 3px solid #999999;
    padding: 20px 20px 20px 20px
}

#addCardForm {
    display: none;
    position: absolute;
    text-align: center;
    right: 6%;
    top: 65%;
    border: 3px solid #999999;
    padding: 20px 20px 20px 20px
}