#title {
    text-align: center;
    font-size: 76px;
}

#headerOne {
    position: absolute;
    left: 20%;
    top: 10%;
}

#headerTwo {
    position: absolute;
    right: 20%;
    top: 10%;
}

#teamAYellow{
    position: absolute;
    left: 11%;
    top: 50%;
    background-color: rgb(255, 255, 130);
}

#teamARed{
    position: absolute;
    left: 30%;
    top: 50%;
    background-color: rgb(247, 51, 51);
}

#teamBYellow{
    position: absolute;
    right: 30%;
    top: 50%;
    background-color: rgb(255, 255, 130);
}

#teamBRed{
    position: absolute;
    right: 11%;
    top: 50%;
    background-color: rgb(247, 51, 51);
}

#addGoalButton {
    position: absolute;
    left: 30%;
    top: 80%; 
}

#addCardButton {
    position: absolute;
    right: 30%;
    top: 80%; 
}

#endMatchButton {
    position: absolute;
    left: 44%;
    top: 90%;
}

#addGoalForm {
    display: none;
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 27%;
    top: 30%;
    background-color: rgba(255, 255, 255, 1);
    border: 3px solid #999999;
    padding: 20px 20px 20px 20px;
}

#addCardForm {
    display: none;
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 22%;
    top: 30%;
    background-color: rgba(255, 255, 255, 1);
    border: 3px solid #999999;
    padding: 20px 20px 20px 20px;
}

#timer {
    position: absolute;
    left: 43%;
    top: 22%;
    height: 250px;
    width: 250px;
}

#timerCircle {
    fill: none;
    stroke: none;
}

#timerPath {
    stroke-width: 7px;
    stroke: grey;
}

#base-timer-label {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

#base-timer-path-remaining {
    margin: auto;
    color: green;
    stroke-width: 7px;

  stroke-linecap: round;

  transform: rotate(90deg);
  transform-origin: center;

  transition: 1s linear all;

  stroke: currentColor;
}

#base-timer__svg {
    transform: scaleX(-1);
}

#winnerDisplay {
    display: none;
    width: 300px;
    position: absolute;
    text-align: center;
    right: 41%;
    top: 70%;
    overflow: visible;
    border: 3px solid #999999;
    padding: 10px 30px 5px 30px;
    font-size: 40px;
}

#teamAGoalsCount {
    font-family: 'Digital Numbers', sans-serif;
    font-size: 230px;
    position: absolute;
    left: 19.5%;
    top: 19%;
}

#teamBGoalsCount {
    font-family: 'Digital Numbers', sans-serif;
    font-size: 230px;
    position: absolute;
    left: 70.5%;
    top: 19%;
}

#teamAYellowCards {
    font-family: 'Digital Numbers', sans-serif;
    font-size: 100px;
    position: absolute;
    left: 12.5%;
    top: 57%;
}

#teamARedCards {
    font-family: 'Digital Numbers', sans-serif;
    font-size: 100px;
    position: absolute;
    left: 31.5%;
    top: 57%;
}

#teamBYellowCards {
    font-family: 'Digital Numbers', sans-serif;
    font-size: 100px;
    position: absolute;
    left: 63.75%;
    top: 57%;
}

#teamBRedCards {
    font-family: 'Digital Numbers', sans-serif;
    font-size: 100px;
    position: absolute;
    left: 83.4%;
    top: 57%;
}